@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
@mixin position_center ($top_num, $left_num, $num_1, $num_2) {
    position: absolute;
    top: $top_num;
    left: $left_num;
    transform: translate($num_1, $num_2);
}