@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
@mixin position_center ($position, $top_num, $left_num, $num_1, $num_2) {
    position: $position;
    top: $top_num;
    left: $left_num;
    transform: translate($num_1, $num_2);
}

// Mixins for media queries
/*
    0 - 600px:        Mobile phones
    600px - 900px:    Tablet Portrate mode 
    900px - 1200px:   Tablet Landscape mode
    1200px - 1800px:  Desctop Mode
    1800px + :        Big screens 
*/


// First approach \\


// @mixin respond-phone {

//     @media (max-width: 600px) { @content };

// }


/*
- phone
- portrait
- landscape
- big
*/
// Second approach \\
@mixin respond ($breakepoint) {
    @if $breakepoint == phone { 
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    };
    @if $breakepoint == portrait { 
        @media only screen and (max-width: 56.25em) { @content };  // 900px
    };
    @if $breakepoint == landscape { 
        @media only screen and (max-width: 75em) { @content }; // 1200px
    };
    @if $breakepoint == big { 
        @media only screen and (min-width: 112.5em) { @content }; // 1800px
    };
}